.leaflet-container {
     overflow: hidden;
    -ms-touch-action: none;
}

body { 
  margin:0; 
}
#leafletMap { 
  position:relative; bottom:0; width:100%;height:100%; 
}

.leaflet-overlay-pane path,
.leaflet-marker-icon {
  cursor: pointer;
}

.popup-video {
  width:250px;
  height:200px;
  z-index:9999;
}

.popup-content {
  z-index:9999;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(5, 107, 166, 0.6);
  min-height:100px;
  min-width:100px;
  border-radius:6px;
  top:50px;
  left:50%;
  margin-left:-210px;
  box-shadow:0 0 7px #000000;
  z-index:9999;
}

.leaflet-popup-content {
  margin:19px 3px 3px 3px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  
}
